.DS_Store
Thumbs.db

.nvm-version
node_modules
npm-debug.log
dist

yarn.lock
shrinkwrap.yaml
package-lock.json

assets/scripts/bundle.js
assets/scripts/bundle-*.js
*.log

config/*
!config/default.json
