.sey-list{
    visibility: hidden;
}
.sey-show{
    visibility: visible;
}

.sey-hide{
    display: none;
}

.sey-list{
    width: inherit;
    position: absolute;
    box-sizing: border-box;
    background: rgba(0,70,70,0.8);
    list-style: none;
    text-align: left;
    color: #fff;
    overflow: auto;
    padding: 0;
    cursor: default;
    font-size: 90%;
    border: 2px solid rgba(0,70,70,0.8);
    margin-top: -2px;
}

.sey-item{
    padding: 7.5px;
    white-space: nowrap;
    overflow: hidden;
}

.sey-selected{
    background: rgba(0,0,0,0.4);
}