.autocomplete-suggestions {
    box-sizing: border-box;
    background: rgba(0,70,70,0.8);
    color: #fff;
    overflow: auto;
    cursor: default;
    font-size: 140%;
    border: 2px solid rgba(0,70,70,0.8);
    margin-top: -2px;
}
.autocomplete-suggestion {
    padding: 5px 5px;
    white-space: nowrap;
    overflow: hidden;
}
.autocomplete-no-suggestion {
    padding: 5px 5px;
}
.autocomplete-selected {
    background: rgba(0,0,0,0.4);
}
.autocomplete-suggestions strong {
    font-weight: normal;
}
.autocomplete-group {
    padding: 5px 5px;
}
.autocomplete-group strong {
    font-weight: bold;
    font-size: 140%;
    display: block;
    border-bottom: 1px solid #000;
}