#page{
	margin: 0 auto 5ex auto;
}

#calendar{
	margin: 5ex auto 1ex auto;
	border: 2px solid #db0000;
	border-collapse: collapse;
}

#calendar td, #calendar th{
	background: rgba(0,0,0,0.03);
}

#calendar th{
	border: 1px solid #db0000;
	border-bottom: 2px solid #db0000;
	line-height: 3ex;
	font-weight: normal;
}
#calendar td{
	position: relative;
	width: 8em;
	min-height: 5ex;
	border: 1px solid #db0000;
	padding-top: 3.5ex;
	text-align: center;
}
#calendar td.cheapest{
	background: rgba(0,219,0,0.15);
}
.date{
	position: absolute;
	top: 0;
	left: 0;
	padding: .75ex .4em;
	display: inline-block;
}
.price{
	font-size: 300%;
	letter-spacing: -.075em;
	color: #008383;
}
.price sup{
	margin-left: .25em;
	font-size: 33%;
	letter-spacing: normal;
}

.duration{
	margin-left: -.25em;
	line-height: 2.5ex;
	color: #36acac;
}

#later{
	font-size: 125%;
	word-wrap: break-word;
}

@media screen and (min-width: 100px) and (max-width: 401px){
	#calendar td{padding: 2ex 0 .75ex 0;}
}

@media screen and (max-width: 400px) {
	body{padding-top: 5vh; padding-bottom: 5vh;}
	#calendar {border: none; margin-right: -2px;}
	#calendar thead{display: none;}
	#calendar tr{display: inline; margin: 0; padding: 0;}
	#calendar td{display: inline-block; text-align:center; width: 100%; margin-top: -1px;}
	#calendar td.empty{display: none;}
	#later{word-wrap: break-word;}
}