.subtitle{
	margin: .1em auto -.2em auto;
	padding: .4em;
	color: #008383;
	font-size: 150%;
	font-weight: lighter;
}

.day{
	color: #044;
}

#offers{
	margin: 2ex auto 1ex auto;
	border-collapse: collapse;
	font-size: 120%;
	color: #555;
}

#offers th{
	border-bottom: 2px solid #777;
	line-height: 150%;
	font-weight: bold;
	padding: 2ex;
}
.price{
	font-weight: bold;
}
#offers td{
	position: relative;
	line-height: 150%;
	min-height: 5ex;
	padding: 2ex;
	text-align: center;
}