/* former RESET.css */

h1, div, nav, body{
	margin: 0;
	padding: 0;
}
p:active,a:active,div:active,p:focus,a:focus,div:focus{
	outline-style: none;
	outline: none;
}
a{
	text-decoration: none;
}

/* former MAIN.css */

body{
	display: flex;
	align-items: center;
	background: #fff;
	color: #db0000;
	font-size: 100%;
	font-family: Helvetica;
	min-height: 100vh;
	position: relative;
}
a,p{
	color: #db0000;
}
a:hover{
	opacity: 0.8;
}

#page{
	text-align: center;
	display: block;
	width: 100%;
	margin: 4em 2em 5em 2em;
}

#title{
	display: inline-block;
	font-size: 400%;
	font-weight: lighter;
	letter-spacing: -0.04em;
}

#error{
	margin: -.3em auto 0 auto;
	padding: .6em 1em 0 1em;
	color: #f90;
	font-size: 150%;
	font-weight: lighter;
}

#footer{
	width: 100%;
	display: block;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 1ex 0;
	font-size: 125%;
	border-top: 2px dashed #033;
	background: #f3f3f3;
	text-align: center;
}
#footer a{
	color: #033;
}

@media screen and (min-width: 401px) and (max-width: 625px){
	body{font-size: 10px;}
}
/*
@media screen and (max-width: 400px) {
	body {font-size: 14px;}
	#title{font-size: 250%;}
	#error{font-size: 125%;}
	#form, .station, #submit{width: 90%; margin: 0; margin-top: .75ex;}
	#form{padding: 0; width: 100%; margin-bottom: -2ex;}
	#submit{width: 95%; margin-bottom: .75ex;}
	#arrow{display: none}
	#options{display: block; margin: 0;}
	#options>div{
		border-top: 1px solid #db0000;
		padding: .5ex 0 .2ex 0;
		display: block;
		text-align: center;
		width: 100%;
	}
	#options>div:first-of-type{
		border-top: 2px solid #db0000;
	}
}
*/