select{
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance:none;
}
select::-ms-expand {
    display: none;
}

#title{
	font-size: 500%;
}

#form{
	display: block;
	text-align: center;
	margin: 1em auto;
}
#form input{
	color: #077;
	border-radius: 0;
	-webkit-appearance: none;
}

.station{
	color: #077;
	margin: .5em;
	width: 18em;
	height: 3ex;
	background: #e3e3e3;
	border: none;
	outline: 2px dotted #008383;
	font-size: 150%;
	padding: 0 .25em;
}
#to{
	width: 17em;
}
#arrow{
	font-size: 220%;
	color: #007070;
}

#submit{
	margin: .5em 0;
	width: 3ex;
	height: 3ex;
	background: #e3e3e3;
	border: none;
	outline: 2px dotted #008383;
	font-size: 150%;
	cursor: pointer;
}
#submit:hover{
	background: rgba(0,0,0,0.15);
}
#options{
	font-style: italic;
	margin: 0 auto;
	margin-top: 1ex;
	line-height: 3ex;
	font-size: 130%;
	color: #008383;
}

#options input, #options select{
	font-style: italic;
	font-size: 100%;
	border: none;
	cursor: pointer;
	text-align: center;
	color: #033;
	line-height: 2.1ex;
}

#options input:hover, #options input:focus, #options select:hover, #options select:focus{
	border-bottom: 2px dashed #033;
}

#class{
	width: 1.5em;
	padding-right: .1em;
}

#bc{
	width: 2em;
	padding-right: .1em;
}

#duration input{
	width: 1.5em;
}
#start input, #end input{
	width: 2.8em;
}