select{
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance:none;
}
select::-ms-expand {
    display: none;
}

#title{
	font-size: 500%;
}

#form{
	display: block;
	text-align: center;
	margin: 1em auto;
}
#form input{
	color: #077;
	border-radius: 0;
	-webkit-appearance: none;
}

#fromContainer{
    width: 18em;
}
#toContainer{
	width: 17em;
}

.stationContainer{
	display: inline-block;
    font-size: 150%;
	margin: .5em;
}

.station{
	color: #077;
	box-sizing: border-box;
	font-size: 100%;
	width: 100%;
	height: 3.3ex;
	background: #e3e3e3;
	border: none;
	border: 2px solid #008383;
	padding: 0 .25em;
	border-radius: .15em !important;
}
#arrow{
	font-size: 220%;
	color: #007070;
	margin-right: -0.2ex;
}

#submit{
	margin: .5em 0;
	width: 3.3ex;
	height: 3.3ex;
	background: #e3e3e3;
	border: 2px solid #008383;
	font-size: 150%;
	cursor: pointer;
	box-sizing: border-box;
	border-radius: .15em !important;
}
#submit:hover{
	background: rgba(0,0,0,0.15);
}
#options{
	font-style: italic;
	margin: 0 auto;
	margin-top: 1ex;
	line-height: 3ex;
	font-size: 130%;
	color: #008383;
}

#options input, #options select{
	font-style: italic;
	font-size: 100%;
	border: none;
	cursor: pointer;
	text-align: center;
	color: #033;
	line-height: 2.1ex;
	background: none;
	text-align-last:center;
	text-align: -webkit-center;
}

#options input:hover, #options input:focus, #options select:hover, #options select:focus{
	border-bottom: 2px dashed #033;
}


@media screen and (max-width: 500px){
	#form{
		width: initial;
	}
	#arrow{
		display: none;
	}
	.station, #submit{
		display: block;
		width: 100% !important;
		margin: .2em 0;
		box-sizing: border-box;
		font-size: 250%;
	}
	#submit{
		outline: none;
		border: 2px solid #008383;
	}
	#options input, #options select{
		font-size: 100%;
	}
	#options{
		font-size: 200%;
	}
	.optRow{
		display: inline-block;
		white-space: pre;
	}
}
