.sey-container{
    visibility: hidden;
}
.sey-show{
    visibility: visible !important;
}
.sey-hide{
    display: none;
}

.sey-list{
    position: absolute;
    top: 1.45em !important;
    left: -.08em !important;
    right: -.075em !important;
    background: rgba(0,90,90,0.9);
    list-style: none;
    text-align: left;
    color: #fff;
    overflow: auto;
    padding: 0;
    cursor: default;
    font-size: 100%;
    border: .15rem solid #333;
    border-top: none;
    z-index: 2;
}

.sey-item{
    padding: .3em .2em .1em .2em;
    white-space: nowrap;
    overflow: hidden;
}

.sey-item span {
    padding: 0;
    margin: 0;
    background: none;
}

.sey-selected{
    background: rgba(0,0,0,0.4);
}
