#header, #header a{
	color: #db0000;
}

#class{
	width: 1.5em;
	padding-right: 0;
}

#bc{
	width: 2em;
	padding-right: 0;
}

#age{
	width: 3.1em;
	padding-right: 0;
}

#duration input{
	width: 1.5em;
}
#departureAfter input, #arrivalBefore input{
	width: 2.8em;
}

#maxChanges input{
	width: 1.1em;
}
