#page{
    min-width: 90%;
    max-width: 95%;
}

#header{
    margin-top: 1rem;
    margin-bottom: .5rem;
}

#route{
    font-weight: bold;
}

#date{
    font-weight: bold;
}

#journeys{
    width: 100%;
    max-width: 900px;
    font-size: 80%;
    margin-bottom: 3rem;
}

#journeys thead{
    border-bottom: .15em solid #777;
    font-weight: bold;
    color: #777;
}

#journeys tr.even{
	background: #eee;
}

#journeys tbody tr{
    border-bottom: .1em solid #777;
}

#journeys td, th{
    text-align: center;
    padding-top: .5em;
    padding-bottom: .5em;
    line-height: 1.5em;
    padding-left: .2em;
    padding-right: .2em;
    vertical-align: middle;
}

#journeys .columnLong{
    display: none;
}

#journeys .columnMiddle{
    display: none;
}

#journeys .price a{
    color: #077;
    font-weight: bold;
    text-decoration: none;
}

#journeys .price a:hover{
    text-decoration: underline;
}

@media (min-width: 450px){
    #journeys .columnMiddle{
        display: table-cell !important;
    }
}

@media (min-width: 550px){
    #journeys{
        font-size: 90%;
        margin-top: 1rem;
        margin-bottom: 3.5rem;
    }
    #header h1{
        font-size: 4rem;
        margin-top: 2rem;
    }
}

@media (min-width: 750px){
    #journeys .columnLong{
        display: initial !important;
    }
    #journeys .columnShort{
        display: none;
    }
}

@media (min-width: 900px){
    #journeys{
        font-size: 100%;
        margin-bottom: 4rem;
    }

    .subtitle{
        font-size: 110%;
    }

    #header{
        margin-top: 3rem;
    }
}
