#page{
    min-width: 90%;
    max-width: 90%;
}

#page h2{
    line-height: 120%;
    font-size: 140%;
    margin-top: .2rem;
}

.question{
    width: 100%;
    text-align: left;
    margin: .8em 0;
    max-width: 900px;
}

.question h3{
    font-size: 110%;
    line-height: 120%;
    margin-bottom: .2em;
    color: #077;
}

.question p{
    line-height: 120%;
    font-size: 90%;
}

.question a{
    text-decoration: none;
    color: #077;
}

.question a:hover{
    text-decoration: underline;
}

.question:last-of-type{
    margin-bottom: 4rem;
}

@media (min-width: 550px){
    #header h1{
        font-size: 4rem;
        margin-top: 2rem;
    }
    #page h2{
        font-size: 170%;
        padding: .2em 0 .5em 0;
    }
    .question h3{
        font-size: 120%;
    }
    .question p{
        font-size: 100%;
    }
}
