#page{
    min-width: 90%;
    max-width: 90%;
}

#page h2{
    line-height: 120%;
    font-size: 140%;
    margin-top: .2rem;
    margin-bottom: .6rem;
}

.section{
    width: 100%;
    text-align: center;
    margin: .5em 0;
    max-width: 900px;
}

.section p{
    line-height: 120%;
    font-size: 90%;
}

.section a{
    text-decoration: none;
    color: #077;
}

.section a:hover{
    text-decoration: underline;
}

.section:last-of-type{
    margin-bottom: 4rem;
}

@media (min-width: 550px){
    #header h1{
        font-size: 4rem;
        margin-top: 2rem;
    }
    #page h2{
        font-size: 170%;
        padding: .2em 0 .5em 0;
        margin-bottom: 0;
    }
    .section p{
        font-size: 100%;
    }
}
