name: CI
on:
  [push]
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x]
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - run: npx pnpm@7 i
    - run: npx pnpm@7 test
      env:
        CI: true

  build-and-push:
    runs-on: ubuntu-latest
    needs: test
    if: github.ref == 'refs/heads/main'
    steps:
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Fetch commit hash
      id: hash
      run: echo "::set-output name=hash::$(echo $GITHUB_SHA | head -c7)"
    - name: Fetch current date and time
      id: datetime
      run: echo "::set-output name=datetime::$(date -u +'%Y-%m-%dT%H.%M.%SZ')"
    - name: Build and push
      uses: docker/build-push-action@v3
      with:
        platforms: linux/amd64,linux/arm64
        push: true
        tags: ghcr.io/${{github.repository}}:v1_${{steps.hash.outputs.hash}}_${{steps.datetime.outputs.datetime}}
        cache-from: type=gha
        cache-to: type=gha,mode=max
